.Continer_button-salir {
  padding: 0 20px 20px 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.TfiClose {
  color: var(--color-medium);
}
.TfiClose:hover {
  cursor: pointer;
  color: var(--color-button-dark);
}
