.Continer_button-salir {
  padding: 0 15px 15px 0;

  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.TfiClose {
  color: var(--color-medium);/* cambiar */
}
.TfiClose:hover {
  cursor: pointer;
  color: var(--color-button-dark);
}
