.Device {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 100px auto;
  justify-content: center;
}
.Device-container {
  display: grid;
  grid-template-rows: repeat(2, 270px);
}
.Device-data {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.Device_subTitle {
  color: var(--color-light-dark-3);
  font-family: var(--font-family-titles);
  font-size: var(--font-size-xsm);
  padding-bottom: 20px;
}
.Device-conteiner_info {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 28px);
  border: 1px solid var(--color-light-2);
  border-radius: 5px;
}
.data-title {
  width: auto;
  padding-left: 20px;
  font-family: var(--font-family-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-titleh1);
  display: flex;
  gap: 10px;
  align-items: end;
}

.data {
  font-family: var(--font-family-text);
  font-size: var(--font-size-xsm);
  font-weight: var(--font-weight-text-long);
}
@media (min-width: 768px) {
  .Device-container {
    height: 280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto;
  }
  .Device-conteiner_info {
    display: grid;
    grid-template-rows: repeat(auto-fill, 30px);
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
}
