.Header {
  /* width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center; */
  height: 50px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--color-light-2);
}
.Header figure {
  cursor: pointer;
}
.Logo-User-container_icons {
  justify-content: end;
  width: auto;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.Logo-User-container_icons p {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text-small);
  font-size: var(--font-size-xsm);
  color: var(--color-light-2);
}
.user-icon{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-1);
  border-radius: 50%;
} 
.Logo{
  justify-self: center;
}

@media (min-width: 426px) {
}
@media (min-width: 768px) {
}
