.Header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.display{
    display: none;
} 


@media (min-width: 426px) {
    .display{
        display: block;
    }
}