.Login {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 210px auto;
}
.Top-frame {
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 25px;
  background-color: var(--color-medium);
}
.logo-image {
  object-fit: contain;
}

.Login-Middle-frame{
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto 150px auto;
}
.Login-Content-form {
  margin: 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family-text);
}
.label-design {
  margin-bottom: 5px;
  padding-left: 10px;
  color: var(--color-medium);
  font-size: var(--font-size-sm);
}
.Login-input-design {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: none;
  margin-bottom: 15px;
  border-radius: 50px;
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  font-size: var(--font-size-xsm);
  outline-color: var(--color-light-2);
}
.input-design::placeholder {
  font-size: var(--font-size-xsm);
  color: var(--color-light-2);
}
.Button-Login {
  width: 136px;
  height: 35px;
  margin: auto;
  border: 1px solid var(--color-button-dark);
  border-radius: 50px;
  box-shadow: 10px 5px 5px var(--color-button-dark);
  color: var(--color-button-dark);
}
.Button-Login:hover {
  cursor: pointer;
  border: 1px solid var(--color-medium);
  box-shadow: 10px 5px 5px var(--color-medium);
  color: var(--color-medium);
}
.Login_content--select-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Login_content--select-two {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.Login_content--select-one,
.Login_content--select-two {
  font-size: var(--font-size-xsm);
}
.Login_content--select-two .Nav-login,
.Login_content-2--left .Nav-login {
  color: var(--color-medium);
}
.Login_content-2--rigth {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .Login-Content-form{
    max-width: 394px;
  }
}
@media (min-width: 1024px) {
  .Login {
    display: grid;
    grid-template-rows: 135px auto;
  }
}
