.Menu {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 42px);
  background-color: rgba(117, 117, 113, 0.75);
  z-index: 1;
}
.nav-menu {
  background-color: var(--color-layout-2);
  width: 320px;
  height: 500px;
  display: grid;
  align-items: center;
  border-right: 1px solid var(--color-light-2);
  border-bottom: 1px solid var(--color-light-2);
}
.menu-logos,
.menu-user {
  border-bottom: 1px solid var(--color-light-2);
}
.menu-logos {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.menu-user {
  height: 100%;
  display: flex;
}

.menu-container_desplegable {
  margin: 0 10px;
  height: 100%;
}
.menu_desplegable {
  display: flex;
  flex-direction: column;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.menu-item:last-child a {
  color: var(--color-light-dark-3);
}

.menu-desplegable_left {
  color: var(--color-light-dark-3);
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family-titles);
  font-size: var(--font-size-sm);
}
.menu-container-icons {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-1);
  border-radius: 50%;
  color: var(--color-error);
}
.menu-desplegable_left a h4:last-child {
  color: var(--color-error);
}
