.Menu-container-desplegable {
  width: 230px;
  display: grid;
  grid-template-rows: 50px 52px auto;
  align-items: center;
  border-right: 1px solid var(--color-light-2);
  border-bottom: 1px solid var(--color-light-2);
}
.menu-logos,
.menu-user {
  border-bottom: 1px solid var(--color-light-2);
}
.menu-logos {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.menu-user {
  height: 100%;
  display: flex;
}
.menu-container_desplegable{
  margin: 0 10px;
  height: 100%;
}
.menu_desplegable {
  display: flex;
  flex-direction: column;

}
.menu-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
}
.menu-desplegable_left{
  display: flex;
  gap: 5px;
}

