.MyDevices {
  height: calc(100% - 42px);
  display: grid;
  grid-template-rows: 100px 70px auto 70px;
}
.MyDevices-items {
  border-radius: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 85px);
  place-items: center;
  overflow-x: hidden;
  gap: 20px;
}
