.Register-user {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 100px auto 80px 100px;
}

.Register-user_Content-form {
  height: 100%;
  font-family: var(--font-family-text);
  padding: 0 20px;
}
.label-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.label-input:first-child {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Register-user_input-design {
  margin: 0;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  font-size: var(--font-size-xsm);
  outline-color: var(--color-light-2);
}
.Register-user_input-design:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-design::placeholder {
  font-size: var(--font-size-sm);
  color: var(--color-light-2);
}
.label-design {
  padding: 0 0 3px 10px;
  color: var(--color-medium);
  font-size: var(--font-size-sm);
}
.name-user {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button-register-device {
  font-size: var(--font-size-sm);
  cursor: pointer;
}
.container-button-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button-register {
  width: 136px;
  height: 35px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-button-dark);
  border-radius: 50px;
  box-shadow: 10px 5px 5px var(--color-button-dark);
  color: var(--color-button-dark);
  font-size: var(--font-size-md);

}
.Button-register:hover {
  cursor: pointer;
  border: 1px solid var(--color-medium);
  box-shadow: 10px 5px 5px var(--color-medium);
  color: var(--color-medium);
}
.Register-user_content--select-two {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-size-xsm);

}
.Register-user_content--select-two a {
  color: var(--color-medium);
}

/* @media (min-width: 426px) {
  .Content-form {
    gap: 15px;
  }
}*/
@media (min-width: 768px) {
  .Register-user {
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 70px 60px;
  }
  .Register-user_Content-form {
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, 67px);
    grid-template-columns: 400px;
  }
  .Button-register {
    justify-self: end;
  }
}
@media (min-width: 1024px) {
  .Register-user {
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto;
  }

  .Register-user_Content-form {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    column-gap: 100px;
  }
}
