.Register-Device {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto auto;
}

.Register-Device_Content-form {
  height: 100%;
  font-family: var(--font-family-text);
  padding: 0 20px;
}
.Device-label-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.Register-device_input-design {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  font-size: var(--font-size-sm);
  outline-color: var(--color-light-2);
}
.input-design::placeholder {
  font-size: var(--font-size-xsm);
  color: var(--color-light-2);
}
.label-design {
  padding: 0 0 3px 10px;
  color: var(--color-medium);
  font-size: var(--font-size-sm);
}
.name-user {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-button-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.Button-register {
  width: 136px;
  height: 35px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-button-dark);
  border-radius: 50px;
  box-shadow: 10px 5px 5px var(--color-button-dark);
  color: var(--color-button-dark);
  font-size: var(--font-size-md);
}
.Button-register:hover {
  cursor: pointer;
  border: 1px solid var(--color-medium);
  box-shadow: 10px 5px 5px var(--color-medium);
  color: var(--color-medium);
}
.Register-user_content--select-two {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-size-xsm);
}
.Register-user_content--select-two a {
  color: var(--color-medium);
}

@media (min-width: 768px) {
  .Register-Device_Content-form {
    height: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 55px);
    justify-content: center;
    font-family: var(--font-family-text);
    padding: 0;
  }
  .Device-label-input {
    height: 40px;
    display: grid;
    grid-template-columns: minmax(120px, max-content) minmax(320px, 320px);
    align-items: center;
  }
  .label-design {
    margin: 0 0 6px;
    color: var(--color-medium);
    font-size: var(--font-size-sm);
  }

  .input-design {
    width: 100%;
    height: 100%;
  }
}
