.Container_Title-h2 {
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--color-light-2);
  border-bottom: 1px solid var(--color-light-2);
  font-family: var(--font-family-titles);
  font-size: var(--font-size-md2);
  color: var(--color-medium);
}
.Container_Title-h2 figure a {
  display: flex;
  align-self: center;
  padding-left: 10px;
}
.Title-h2 {
  justify-self: center;
}

@media (min-width: 375px) {
  .Container_Title-h2 {
    font-size: var(--font-size-md);
  }
}
